body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

/*header section*/
header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    background-image: url("images/home_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.alignment {
    min-width: 1100px;
}

#header_content {
    display: flex;
    justify-content: space-between;
}


/*summary section*/
#summary {
    display: flex;
    justify-content: center;
}

#summary_content {
    max-width: 1100px;
}

hr {
    margin: 50px 0;
}

.icons {
    width: 24px;
    height: 24px;
}

/*footer section*/
footer {
    min-height: 40vh;
    display: flex;
    background-color: #1b1b1b;
    color: white;
}

.headers {
    font-family: Helvetica, sans-serif;
}

.footer_text {
    line-height: 2;
}

#about {
    flex: 1;
    margin: 30px;
}

#question {
    flex: 1;
    margin: 30px;
}

#question a {
    color: white;
    text-decoration: none;
}

#question a:hover {
    text-decoration: underline;
}

#social {
    flex: 1;
    margin: 30px;
}

#social_medias_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_medias {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 15px;
}

.social_medias a {
    text-decoration: none;
    color: white;
}

.glow a:hover {
    text-shadow: 0 0 3px #fff;
}

#social i {
    font-size: 30px;
}

