{% extends "layout.html" %}

{% block main %}
    <form action="/" method="post" id="categories">
        <input name="email" type="email" placeholder="Enter your email">
        <input name="categories" type="checkbox" id="category1" value="World Events">
        <label for="category1">World Events</label>
        <input name="categories" type="checkbox" id="category2" value="Finance">
        <label for="category2">Finance</label>
        <input name="categories" type="checkbox" id="category3" value="Politics">
        <label for="category3">Politics</label>
        <button type="submit">Get started</button>
    </form>
    <script>
        /*require at least one category be selected*/
        let form = document.getElementById("categories");
        let checkboxes = form.querySelectorAll("input[type='checkbox']");

        form.addEventListener("submit", function(event){
            let is_checked = false;
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    is_checked = true;
                }
            });

            if (!is_checked) {
                event.preventDefault();
                alert("Please select at least one category");
            }
        });
    </script>
{% endblock %}
