{% extends "layout.html" %}

{% block main %}
    <form action="/" method="post" id="categories">
        <input name="email" type="email" placeholder="Enter your email">
        <input name="categories" type="checkbox" id="category1" value="World Events">
        <label for="category1">World Events</label>
        <input name="categories" type="checkbox" id="category2" value="Business">
        <label for="category2">Business</label>
        <input name="categories" type="checkbox" id="category3" value="Politics">
        <label for="category3">Politics</label>
        <button type="submit">Get started</button>
    </form>
    <div id="container">
        <div id="successful_popup">
            <i class="fa-regular fa-circle-check" style="color: #229e00;"></i>
            <h2>Completed</h2>
            <p>You have successfully register for the daily news</p>
            <button id="successful_ok" class="ok_button">Ok</button>
        </div>
        <div id="failed_popup">
            <i class="fa-solid fa-xmark" style="color: #fb2323;"></i>
            <h2>Unsuccessful</h2>
            <p id="error_message"></p> <!---wait for error_message--->
            <button id="failed_ok" class="ok_button">Ok</button>
        </div>
    </div>
{% endblock %}
